$p-color: #9356DC;
$s-color: #FF79DA;
$t-color: #99E2D0;
// font-family: 'Shrikhand', cursive;
html{
    font-family: 'Roboto', sans-serif;  
}

.header {
    &--nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 15px 30px;
    }

    &--search {
        display: flex;
        justify-content: center;
        background-color: #e6e6e6;
        border-top: 3px solid #d8d8d8;
        border-bottom: 1px solid #d8d8d8;
        font-size: 1.2rem;

        &__pin {
            font-size: 1.2rem;
            position: relative;
            top: 19px;
            right: 25px;
        }
    }

    &--block {
        background-color: #f2f2f2;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 35px;

        &__h1 {
            font-size: 1.5rem;
            padding: 5px 0;
        }
        
        &__h2 {
            font-weight: normal;
            text-align: center;
            font-size: 1.3rem;
        }

        &__button {
        font-size: 1.05rem;
        padding: 15px;
        border-radius: 20px;
        background:linear-gradient($s-color, $p-color);
        color: white;
        border:none;
        }

    }


       
}

.main {
    &--work {
        position: relative;
        padding-bottom: 20px;

        &__card{

            &__1 {
                display: flex;
                flex-wrap: wrap;
                background-color: #f2f2f2;
                border: 1px solid #f2f2f2;
                border-radius: 20px;
                margin: 15px 3px;

                span {
                    position: absolute;
                    top: 60px;
                    right: 338px;
                    border: 1px solid $p-color;
                    border-radius: 20px;
                    padding: 3px 7px;
                    background-color: $p-color;
                    color: white;
                }

                p {
                    font-weight: bold;
                    padding-left: 15px;
                }
             }

            &__2 {
                display: flex;
                flex-wrap: wrap;
                background-color: #f2f2f2;
                border: 1px solid #f2f2f2;
                border-radius: 20px;
                margin: 15px 3px;

                span {
                    position: absolute;
                    top: 130px;
                    right: 338px;
                    border: 1px solid $p-color;
                    border-radius: 20px;
                    padding: 3px 7px;
                    background-color: $p-color;
                    color: white;
                }

                p {
                    font-weight: bold;
                    padding-left: 15px;
                }
            }

            &__3 {
                display: flex;
                flex-wrap: wrap;
                background-color: #ece4f7;
                border: 1px solid #ece4f7;
                border-radius: 20px;
                margin: 15px 3px;

                span {
                    position: absolute;
                    top: 196px;
                    right: 338px;
                    border: 1px solid $p-color;
                    border-radius: 20px;
                    padding: 3px 7px;
                    background-color: $p-color;
                    color: white;
                }

                p {
                    font-weight: bold;
                    padding-left: 15px;
                }
            }

            &__phone, &__list, &__store {
                padding-left: 35px;
                padding-top: 17px;
            }

            &__store {
                color: $p-color;
            }
            
        }
        
    }

    &--restaurant {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        background-color: #f2f2f2;
        position: relative;

        &__card {
            margin-bottom: 25px;
            background-color: white;
            margin-left: 10px;
            margin-right: 10px;
            border-radius: 15px;
            box-shadow: 0 1px 0 1px #e6e6e6;
            
            & img{
                object-fit: cover;
                width: 300px;
                height: 200px;
                width: 100%;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }

            &__title {
                margin-left: 15px;
            }

            & p {
                margin-left: 15px;
                margin-top: -10px;
            }

            &__span {

                &__1 {
                    position: absolute;
                    left: 250px;
                    top: 85px;
                    border: 1px solid $t-color;
                    background-color: $t-color;
                    padding: 10px 25px;
                    color: green;
                    border-radius: 5px;
                }

                &__2 {
                    position: absolute;
                    left: 250px;
                    top: 400px;
                    border: 1px solid $t-color;
                    background-color: $t-color;
                    padding: 10px 25px;
                    color: green;
                    border-radius: 5px;
                }
            }

            &__heart {

                &__1{
                    position: absolute;
                    left: 300px;
                    top: 300px;
                    font-size: 1.45rem;
                }

                &__2 {
                    position: absolute;
                    left: 300px;
                    top: 615px;
                    font-size: 1.45rem;
                }

                &__3 {
                    position: absolute;
                    left: 300px;
                    top: 927px;
                    font-size: 1.45rem;
                }

                &__4 {
                    position: absolute;
                    left: 300px;
                    bottom: 58px;
                    font-size: 1.45rem;
                }
            }
        
        }
    }
}

.footer {
    position: relative;
    
    &--nav {
        background-color: rgb(65, 65, 65);
        color: white;
        padding-left: 25px;

        &__h4 {
            font-family: 'Shrikhand', cursive;
            margin-top: -10px;
            padding-top: 25px;
            font-size: 1.1rem;
        }

        &__utensils {
            position: absolute;
        }

        &__handshake {
            position: absolute;
        }

        &__p {

            &__1 {
                margin-left: 35px;
            }

            &__2 {
                margin-left: 35px; 
            }

            // &__3, &__4 {
            //     margin-left: 5px;
            // }
        }
    }
}



