html {
  font-family: "Roboto", sans-serif;
}

.header--nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 30px;
}
.header--search {
  display: flex;
  justify-content: center;
  background-color: #e6e6e6;
  border-top: 3px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  font-size: 1.2rem;
}
.header--search__pin {
  font-size: 1.2rem;
  position: relative;
  top: 19px;
  right: 25px;
}
.header--block {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 35px;
}
.header--block__h1 {
  font-size: 1.5rem;
  padding: 5px 0;
}
.header--block__h2 {
  font-weight: normal;
  text-align: center;
  font-size: 1.3rem;
}
.header--block__button {
  font-size: 1.05rem;
  padding: 15px;
  border-radius: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
}

.main--work {
  position: relative;
  padding-bottom: 20px;
}
.main--work__card__1 {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  margin: 15px 3px;
}
.main--work__card__1 span {
  position: absolute;
  top: 60px;
  right: 338px;
  border: 1px solid #9356DC;
  border-radius: 20px;
  padding: 3px 7px;
  background-color: #9356DC;
  color: white;
}
.main--work__card__1 p {
  font-weight: bold;
  padding-left: 15px;
}
.main--work__card__2 {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  margin: 15px 3px;
}
.main--work__card__2 span {
  position: absolute;
  top: 130px;
  right: 338px;
  border: 1px solid #9356DC;
  border-radius: 20px;
  padding: 3px 7px;
  background-color: #9356DC;
  color: white;
}
.main--work__card__2 p {
  font-weight: bold;
  padding-left: 15px;
}
.main--work__card__3 {
  display: flex;
  flex-wrap: wrap;
  background-color: #ece4f7;
  border: 1px solid #ece4f7;
  border-radius: 20px;
  margin: 15px 3px;
}
.main--work__card__3 span {
  position: absolute;
  top: 196px;
  right: 338px;
  border: 1px solid #9356DC;
  border-radius: 20px;
  padding: 3px 7px;
  background-color: #9356DC;
  color: white;
}
.main--work__card__3 p {
  font-weight: bold;
  padding-left: 15px;
}
.main--work__card__phone, .main--work__card__list, .main--work__card__store {
  padding-left: 35px;
  padding-top: 17px;
}
.main--work__card__store {
  color: #9356DC;
}
.main--restaurant {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2f2f2;
  position: relative;
}
.main--restaurant__card {
  margin-bottom: 25px;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
  box-shadow: 0 1px 0 1px #e6e6e6;
}
.main--restaurant__card img {
  object-fit: cover;
  width: 300px;
  height: 200px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.main--restaurant__card__title {
  margin-left: 15px;
}
.main--restaurant__card p {
  margin-left: 15px;
  margin-top: -10px;
}
.main--restaurant__card__span__1 {
  position: absolute;
  left: 250px;
  top: 85px;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  padding: 10px 25px;
  color: green;
  border-radius: 5px;
}
.main--restaurant__card__span__2 {
  position: absolute;
  left: 250px;
  top: 400px;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  padding: 10px 25px;
  color: green;
  border-radius: 5px;
}
.main--restaurant__card__heart__1 {
  position: absolute;
  left: 300px;
  top: 300px;
  font-size: 1.45rem;
}
.main--restaurant__card__heart__2 {
  position: absolute;
  left: 300px;
  top: 615px;
  font-size: 1.45rem;
}
.main--restaurant__card__heart__3 {
  position: absolute;
  left: 300px;
  top: 927px;
  font-size: 1.45rem;
}
.main--restaurant__card__heart__4 {
  position: absolute;
  left: 300px;
  bottom: 58px;
  font-size: 1.45rem;
}

.footer {
  position: relative;
}
.footer--nav {
  background-color: #414141;
  color: white;
  padding-left: 25px;
}
.footer--nav__h4 {
  font-family: "Shrikhand", cursive;
  margin-top: -10px;
  padding-top: 25px;
  font-size: 1.1rem;
}
.footer--nav__utensils {
  position: absolute;
}
.footer--nav__handshake {
  position: absolute;
}
.footer--nav__p__1 {
  margin-left: 35px;
}
.footer--nav__p__2 {
  margin-left: 35px;
}

/*# sourceMappingURL=styles.css.map */
